#backGround {
  text-align: center;
  padding: 200px;
  background-image:linear-gradient(to left, #b92b27,#1565C0);
  min-height: 100vh
}

#caixa{
  background-color:#0011ff6c;
  border-radius: 10px;
  margin: 40px;
  
}


.validoSubilinhado{ 
  color: rgb(8, 228, 8);
  text-decoration: underline;
}

.invalidoSubilinhado{
  color: rgb(228, 8, 8);
  text-decoration: underline;
}
